*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
}

html, body {
  font-size: inherit;
  font-weight: inherit;
  width: 100%;
  height: 100%;
  background-color: #04131b;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

._container {
  width: 1920px;
  margin: 0 auto;
}

.header {
  z-index: 50;
  font-family: "Gilroy", sans-serif;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header a {
  color: #959595;
}

.header__items {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__menu .nav__item {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.nav__menu .nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__menu .nav__item:hover {
  text-decoration: underline;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media (max-width: 767px) {
  .header__items .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__items .nav__menu .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__items .nav__menu .nav__item:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
@media (max-width: 520px) {
  .header__items {
    padding: 0 40px;
  }
}
@media (max-width: 424px) {
  .header__items {
    padding: 0 20px;
  }
}
@media (max-width: 374px) {
  .header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__items .header__logo {
    margin-bottom: 15px;
  }
  .header__items .nav__menu {
    margin-bottom: 15px;
  }

  .header {
    height: 225px;
  }
}
.main {
  width: 100%;
}

.hiking__guide {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.hiking__guide .hiking__guide__items {
  position: relative;
  margin-top: 359px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hiking__guide .hiking__guide__items .hiking__guide__item {
  font-family: "Gilroy", sans-serif;
}
.hiking__guide .hiking__guide__items .hiking__guide__item .socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.hiking__guide .hiking__guide__items .hiking__guide__item .socials__items .social__item:not(:last-child) {
  margin-right: 24px;
}
.hiking__guide .hiking__guide__items .hiking__guide__item .hiking__text {
  text-align: center;
}
.hiking__guide .hiking__guide__items .hiking__guide__item .hiking__text .hiking__suptitle {
  color: #fbd784;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
}
.hiking__guide .hiking__guide__items .hiking__guide__item .hiking__text .hiking__title {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
}

.hiking__guide__item:not(:last-child) {
  margin-right: 300px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .background {
    opacity: 0.6;
  }

  .header a {
    color: white;
  }

  .hiking__guide__items .hiking__guide__item:not(:last-child) {
    margin-right: 5px;
  }
}
@media (max-width: 540px) {
  .hiking__guide .hiking__guide__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hiking__guide .hiking__guide__items .hiking__guide__item .socials__items {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    padding: 0 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 426px) {
  .hiking__guide .hiking__guide__items .hiking__guide__item .hiking__text .hiking__suptitle {
    font-size: 22px;
  }
  .hiking__guide .hiking__guide__items .hiking__guide__item .hiking__text .hiking__title {
    font-size: 48px;
  }
}
.hiking__tips {
  width: 100%;
  position: relative;
  padding: 0 200px;
  background-color: #04131b;
}

.tips__blur {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  top: -100px;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, #04131b), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #04131b 50%, rgba(0, 0, 0, 0) 100%);
}

.tips__item {
  position: relative;
  z-index: 15;
  margin-bottom: 150px;
}

.tips__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -60px;
}

.tips__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-family: "Gilroy", sans-serif;
  color: #fff;
}
.tips__block:not(:last-child) {
  margin-right: 100px;
}
.tips__block img {
  width: 566px;
  height: 720px;
  border-radius: 10px;
}

.block__suptitle {
  text-transform: uppercase;
  color: #FBD784;
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 6px;
}

.block__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 115%;
  margin: 27px 0;
}

.block__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 27px;
}

.block__readmore a {
  color: #FBD784;
  font-weight: 800;
  text-transform: lowercase;
}
.block__readmore a:hover {
  background-color: #FBD784;
  color: #000;
  padding: 5px;
  border-radius: 25px;
}

@media (max-width: 1339px) {
  .hiking__tips {
    padding: 0 50px;
  }

  .block__title {
    font-size: 50px;
  }

  .tips__block img {
    width: 400px;
    height: 500px;
  }
}
@media (max-width: 1023px) {
  .tips__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .tips__block:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .tips__block img {
    width: 100%;
    height: 500px;
  }

  .hiking__tips {
    padding: 0 25px;
  }
}
@media (max-width: 424px) {
  .tips__block img {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 374px) {
  .tips__block img {
    width: 100%;
    height: 350px;
  }
}
.footer {
  padding: 0 200px;
  padding-bottom: 120px;
  width: 100%;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Gilroy", sans-serif;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__text {
  margin-top: 24px;
  margin-bottom: 122px;
  font-weight: 700;
  font-size: 22px;
}

.footer__copyright {
  font-weight: 500;
  color: #8f8f8f;
}

.footer__col__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__col__title {
  color: #FBD784;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__nav ul li:not(:last-child) {
  margin-bottom: 16px;
}
.footer__nav ul li a {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 1527px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer__item:not(:first-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 805px) {
  .footer__col__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__col__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
  .footer__col__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding: 0 25px;
  }
}